<div class="row" style="background-color:#18478b; color:white;">
    <div class="container">
        <div class="mt-2 py-1 text-center">
            <a href="/disclaimers" class="px-2 text-white" target="_self">Disclaimer</a>
            <a href="/terms-of-use" class="px-2 text-white" target="_self">Terms</a>
            <a href="/downloads" class="px-2 text-white" target="_self">Downloads</a>
            <a href="https://www.irdai.gov.in/" class="px-2 text-white" target="_blank">IRDAI</a>
            <a href="/gst-registration" class="px-2 text-white" target="_self">GST Reg.</a>
            <a href="/privacy-policy" class="px-2 text-white" target="_self">Privacy</a>
            <a href="/grievance-redressal-policy" class="px-2 text-white" target="_self">Grievance</a>
            <a href="/general" class="px-2 text-white" target="_self">General</a>
        </div>
        <div class="my-2 text-center">
            <p>© 2008 MoonInsurance. Registered Office: [Office Address]. CINNumber: [CIN Number]. Registered with IRDAI Regn. No. [Registration Number]. For more details, contact <a href="mailto:customersupport@mooninsurance.com" class="text-white">customersupport&#64;mooninsurance.com</a></p>
        </div>
    </div>
</div>