<h1>WELCOME TO DASHBOARD</h1>

<nav>
  <ul class="button-container">
    <button class="button" routerLink="/buypolicy">Buy Policy</button>
    <button class="button" routerLink="/view-policy">View Policy</button>
    <button class="button" routerLink="/apply-claim">Apply Claim</button>
    <button class="button" routerLink="/track-claim">Track Claim</button>
    <button class="button" routerLink="/ask-question">Ask Question</button>
    <button class="button" routerLink="/view-response">View Response</button>
  </ul>

</nav>

<router-outlet></router-outlet>