.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: #0069d9;
  }